.main-div{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
}

.card-content {
  width: 10%;
  height: 5%;
  margin: 20px;
  display: inline-block;
  background-color: #0080ff;
  border-radius: 20px 20px 20px 20px;
}

.chains {
  width: 100%;
}

.button-animatic:not([disabled]):hover {
  background-color: #ff0000;
  transform: translateX(1px);
  box-shadow: 0 4px 17px #ff0000;
}

.button-animatic {
  background-color: rgba(63, 63, 63, 0.96);
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
  cursor: pointer;
}
