<div>
  <div [ngClass]="{XSmall : 'img-mobile', Small : 'img-mobile',
     Medium : 'img-web', Large : 'img-web', XLarge : 'img-web'}[currentScreenSize]">
    <span class = "filler"></span>
    <img src="/assets/icons/profile-icon.png" alt="image" style="max-width: 140px">
    <span class = "filler"></span>
  </div>

  <p [ngClass]="{XSmall : 'content-mobile', Small : 'content-mobile',
     Medium : 'content-web', Large : 'content-web', XLarge : 'content-web'}[currentScreenSize]">
    Meet with Cem, a software engineer graduated from Maltepe University Software (50% Scholarship) (English) Department who is chilling with creating free open source applications for web & mobile platforms.
  </p>

  <p [ngClass]="{XSmall : 'content-mobile', Small : 'content-mobile',
     Medium : 'content-web', Large : 'content-web', XLarge : 'content-web'}[currentScreenSize]">
    Knows Java, Android(Java), Javascript, SQL, PL\SQL languages very well,  worked with them in business life also.
    Done many projects up to this time and have used libraries as much. Knows somethings about many other languages.</p>

  <p [ngClass]="{XSmall : 'content-mobile', Small : 'content-mobile',
     Medium : 'content-web', Large : 'content-web', XLarge : 'content-web'}[currentScreenSize]">
    Enjoy it :)
  </p>

  <!--
  <div style="display: flex; align-items: center; padding-top: 50px">
    <span class = "filler"></span>
    <img src="/assets/icons/gifs/linkedin-icon.gif" alt="image">
    <a href="https://www.linkedin.com/in/cemugras/" target="_blank">LinkedIn
    </a>
    <span class = "filler2"></span>
    <img src="/assets/icons/gifs/github-icon.gif" alt="image">
    <a href="https://github.com/cemugras" target="_blank">GitHub
    </a>
    <span class = "filler2"></span>
    <img src="/assets/icons/gifs/hackerrank-icon.gif" alt="image" style="max-width: 40px">
    <a href="https://www.hackerrank.com/cemugrs" target="_blank">HackerRank
    </a>
    <span class = "filler2"></span>
    <img src="/assets/sidebar/googleplay-icon.png" alt="image" style="max-width: 35px">
    <a href="https://play.google.com/store/apps/developer?id=Cem+Ugras" target="_blank">GooglePlay
    </a>
    <span class = "filler2"></span>
    <img src="/assets/icons/gifs/donate-icon.gif" alt="image" style="max-width: 40px">
    <a href="https://www.buymeacoffee.com/cemugras" target="_blank">Donate
    </a>
    <span class = "filler"></span>
  </div>
  -->
</div>
