<div>
  <div style="display: flex; align-items: center; padding-top: 100px">
    <span class = "filler"></span>
    <img src="/assets/icons/profile-icon.png" alt="image" style="max-width: 140px">
    <span class = "filler"></span>
  </div>

  <p class="content" style="text-align:center; font-family: fantasy; font-weight: bold; padding-top: 50px">
    Meet with Cem, a software engineer who is chilling with creating free open source applications for web & mobile platforms.
  </p>

  <p class="content" style="text-align:center; font-family: fantasy; font-weight: bold">
    Enjoy it :)
  </p>


  <div style="display: flex; align-items: center; padding-top: 50px">
    <span class = "filler"></span>
    <img src="/assets/icons/gifs/linkedin-icon.gif" alt="image">
    <a href="https://www.linkedin.com/in/cemugras/" target="_blank">LinkedIn
    </a>
    <span class = "filler2"></span>
    <img src="/assets/icons/gifs/github-icon.gif" alt="image">
    <a href="https://github.com/cemugras" target="_blank">GitHub
    </a>
    <span class = "filler2"></span>
    <img src="/assets/icons/gifs/hackerrank-icon.gif" alt="image" style="max-width: 40px">
    <a href="https://www.hackerrank.com/cemugrs" target="_blank">HackerRank
    </a>
    <span class = "filler2"></span>
    <img src="assets/icons/googleplay-icon.png" alt="image" style="max-width: 35px">
    <a href="https://play.google.com/store/apps/developer?id=Cem+Ugras" target="_blank">GooglePlay
    </a>
    <span class = "filler2"></span>
    <img src="/assets/icons/gifs/donate-icon.gif" alt="image" style="max-width: 40px">
    <a href="https://www.buymeacoffee.com/cemugras" target="_blank">Donate
    </a>
    <span class = "filler"></span>
  </div>

</div>
