//Color Variables
$tooltip-background-color: rgba(255, 255, 255, 0.96);
$general-red-color: rgba(255, 0, 0, 0.96);
$general-white-color: rgba(255, 255, 255, 0.96);
$general-black-color: rgba(0, 0, 0, 0.96);

.img-web {
  display: flex;
  align-items: center;
  padding-top: 100px
}

.img-mobile {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.content-web {
  line-height: 1.8rem;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: $general-white-color;
  text-shadow: 2px 2px $general-black-color;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px
}

.content-mobile {
  line-height: 1.8rem;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: $general-white-color;
  text-shadow: 2px 2px $general-black-color;
  padding-top: 20px;
}

img {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.filler {
  flex: 1 1 auto;
}

.filler2 {
  flex: 3rem 0;
}
