.gifs-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 10%;
}

.gifs-items {
  display: flex;
  align-items: center;
}

.link-text {
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.table-div-web {
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 10%;
}

.table-div-mobile {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.tables-content-mobile {
  font-size: 10px;
}

img {
  width: 100%;
  max-width: 30px;
  height: auto;
}

th, td {
  overflow: hidden;
  max-width: 20px;
  text-overflow: ellipsis;
}
