//Color Variables
$general-red-color: rgb(255, 0, 0);
$general-white-color: rgb(255, 255, 255);
$table-background-color: rgba(0, 0, 0, 0.2);

.table-div-web {
  padding-top: 10%;
  padding-left: 45%;
  padding-right: 45%;

  .div-button {
    .button-animatic {
      width: 5vw;
    }
  }
}

.table-div-mobile {
  margin-top: 10%;
  display: flex;
  align-items: center;
  padding-top: 50px;

  .div-button {
    .button-animatic {
      width: 25vw;
    }
  }
}

.div-button {
  .button-animatic {
    background-color: rgba(63, 63, 63, 0.96);
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    font-size: 12px;
    cursor: pointer;
    color: $general-white-color;
  }

  .button-animatic:not([disabled]):hover {
    transform: translateX(1px);
    box-shadow: 1px 0 10px $general-white-color;
  }
}

.table-background-color {
  background-color: $table-background-color;
}

.table-content-color {
  color: $general-white-color;
}

.tables-content-mobile {
  font-size: 10px;
}

img {
  max-width: 30px;
  height: auto;
}
