//Color Variables
$general-red-color: rgb(255, 0, 0);
$general-white-color: rgb(255, 255, 255);
$table-background-color: rgba(0, 0, 0, 0.2);

.table-div-web {
  padding-top: 10%;
  padding-left: 30%;
  padding-right: 30%;
}

.table-div-mobile {
  margin-top: 10%;
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.table-background-color {
  background-color: $table-background-color;
}

.table-content-color {
  color: $general-white-color;
}

.tables-content-mobile {
  font-size: 10px;
}

img {
  width: 100%;
  max-width: 30px;
  height: auto;
}

th, td {
  overflow: hidden;
  max-width: 45vw;
  text-overflow: ellipsis;
}
