<!--Content[Responsive] for Web environments -->
<div *ngIf="!(currentScreenSize === 'XSmall' || currentScreenSize === 'Small')"
     style="display: flex; align-items: center; padding-top: 50px">
  <span class = "filler"></span>
  <img src="/assets/icons/gifs/linkedin-icon.gif" alt="image">
  <a href="https://www.linkedin.com/in/cemugras/" target="_blank">LinkedIn
  </a>
  <span class = "filler2"></span>
  <img src="/assets/icons/gifs/github-icon.gif" alt="image">
  <a href="https://github.com/cemugras" target="_blank">GitHub
  </a>
  <span class = "filler2"></span>
  <img src="/assets/icons/gifs/hackerrank-icon.gif" alt="image" style="max-width: 40px">
  <a href="https://www.hackerrank.com/cemugrs" target="_blank">HackerRank
  </a>
  <span class = "filler2"></span>
  <img src="/assets/sidebar/googleplay-icon.png" alt="image" style="max-width: 35px">
  <a href="https://play.google.com/store/apps/developer?id=Cem+Ugras" target="_blank">GooglePlay
  </a>
  <span class = "filler2"></span>
  <img src="/assets/icons/gifs/donate-icon.gif" alt="image" style="max-width: 40px">
  <a href="https://www.buymeacoffee.com/cemugras" target="_blank">Donate
  </a>
  <span class = "filler"></span>
</div>

<!--Content[Responsive] for !Web environments -->
<div [ngClass]="{XSmall : 'table-div-mobile', Small : 'table-div-mobile',
                      Medium : 'table-div-web', Large : 'table-div-web', XLarge : 'table-div-web'}[currentScreenSize]">

  <table mat-table
         [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Icon Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" style="font-weight: bold">
        <img src="{{element.icon}}" alt="image">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" style="font-weight: bold"> {{element.name}} </td>
    </ng-container>

    <!-- Url Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Cem Ugras </th>
      <td mat-cell *matCellDef="let element">
        <a href="" (click)="goToLink(element.url)" target="_blank"> {{element.url}} </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
