<div class="main-container">
  <table>
    <tr>
      <th>{{'ipComponent.ipAddress' | translate}}</th>
      <td>: {{ipGeoLocationClass.ip}}</td>
    </tr>
    <tr>
      <th>{{'ipComponent.country' | translate}}</th>
      <td>: <img src="{{ipGeoLocationClass.flagUrl}}" alt="Country flag">
        {{ipGeoLocationClass.country}}</td>
    </tr>
    <tr>
      <th>{{'ipComponent.ispProvider' | translate}}</th>
      <td>: {{ipGeoLocationClass.org}}</td>
    </tr>
    <tr>
      <th>{{'ipComponent.region' | translate}}</th>
      <td>: {{ipGeoLocationClass.region}}</td>
    </tr>
    <tr>
      <th>{{'ipComponent.timeZone' | translate}}</th>
      <td>: {{ipGeoLocationClass.timezone}}</td>
    </tr>
    <tr>
      <th>{{'ipComponent.zipCode' | translate}}</th>
      <td>: {{ipGeoLocationClass.postal}}</td>
    </tr>
  </table>
  <!-- Map for IP Address -->
  <div class="map-container"
       leaflet
       [leafletOptions]="options"
       (leafletMapReady)="onMapReady($event)"
       (leafletClick)="mapClicked($event)">
  </div>
</div>
