//Color Variables
$general-background-color: rgba(0, 0, 0, 0.6);
$general-white-color: rgb(255, 255, 255);

.section-web {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-div-img {
    width: 55vw;
    height: 45vh;
    animation: animTopToBottom 2s ease 0s 1 normal forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      background-color: $general-background-color;
    }
  }
  .section-div-text {
    width: 55vw;
    height: 30vh;
    background-color: $general-background-color;
    color: $general-white-color;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animBottomToTop 2s ease 0s 1 normal forwards;

    h1{
      margin-bottom: 20px;
    }

    .section-div-sub-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .middle-pipe {
        padding-left: 2vw;
        padding-right: 2vw;
      }
    }
  }
}

.section-mobile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-div-img-mobile {
    width: 100%;
    animation: animTopToBottom 2s ease 0s 1 normal forwards;

    img {
      height: 100%;
      width: 100%;
      background-color: $general-background-color;
    }
  }
  .section-div-text-mobile {
    width: 100%;
    height: 20vh;
    background-color: $general-background-color;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $general-white-color;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animBottomToTop 2s ease 0s 1 normal forwards;

    h1{
      margin-bottom: 20px;
    }
    .section-div-sub-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 4vw;
      p{
        margin-bottom: 20px;
      }
    }
  }
}

.font-features {
  font-family: 'Orbitron', sans-serif;
}

.left-to-right {
  animation: animLeftToRightHard 5s ease 0s 1 normal forwards;
}

.right-to-left {
  animation: animRightToLeftHard 5s ease 0s 1 normal forwards;
}

@keyframes animLeftToRight {
	0% {
		opacity: 0;
		transform: translateX(-20%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animRightToLeft {
	0% {
		opacity: 0;
		transform: translateX(20%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animLeftToRightHard {
	0% {
		opacity: 0;
		transform: translateX(-70%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animRightToLeftHard {
	0% {
		opacity: 0;
		transform: translateX(70%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animTopToBottom {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes animBottomToTop {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
