//Color Variables
$general-background-color: rgba(0, 0, 0, 0.6);
$general-white-color: rgb(255, 255, 255);

.container-web {
  padding-top: 100px;
  padding-left: 100px;
  justify-content: center;
}

.container-mobile {
  padding-top: 80px;
  justify-content: center;
}

.font-features {
  font-family: 'Orbitron', sans-serif;
}

.hero-div {
  display: flex;
  width: 100%;
  padding-right: 5vw;
  padding-bottom: 5%;
}

.hero-div-mobile {
  min-width: 100%;
  background-color: $general-background-color;
}

.hero-div-img {
  width: 50%;
  animation: animLeftToRight 2s ease 0s 1 normal forwards;
}

.hero-div-img-mobile {
  width: 100%;
  height: auto;
  animation: animTopToBottom 2s ease 0s 1 normal forwards;
}

.hero-div-text {
  width: 50%;
  background-color: $general-background-color;
  color: $general-white-color;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: animRightToLeft 2s ease 0s 1 normal forwards;
}

.hero-div-text-mobile {
  width: 100%;
  color: $general-white-color;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: animBottomToTop 2s ease 0s 1 normal forwards;
}

@keyframes animLeftToRight {
	0% {
		opacity: 0;
		transform: translateX(-10%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animRightToLeft {
	0% {
		opacity: 0;
		transform: translateX(10%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animTopToBottom {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes animBottomToTop {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}