//Color Variables
$general-background-color: rgba(0, 0, 0, 0.6);
$general-white-color: rgb(255, 255, 255);

.section-web {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-div-img {
    width: 55vw;
    height: 45vh;
    animation: animTopToBottom 2s ease 0s 1 normal forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      background-color: $general-background-color;
    }
  }
  .section-div-text {
    width: 55vw;
    height: 30vh;
    background-color: $general-background-color;
    color: $general-white-color;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animBottomToTop 2s ease 0s 1 normal forwards;

    h1{
      margin-bottom: 20px;
    }

    .section-div-sub-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .middle-pipe {
        padding-left: 2vw;
        padding-right: 2vw;
      }
    }
  }
  .card-container {
    flex-direction: row;
    .card {
      height: 25vw;
      width: 30vw;
      img {
        height: 10vw;
      }
      .div-button {
        .button-animatic {
          width: 15vw;
        }
      }
    }
  }
}

.section-mobile {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-div-img-mobile {
    width: 100%;
    animation: animTopToBottom 2s ease 0s 1 normal forwards;
    background-color: $general-background-color;
    img {
      min-height: 100%;
      width: 100%;
    }
  }
  .section-div-text-mobile {
    width: 100%;
    height: 20vh;
    background-color: $general-background-color;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $general-white-color;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animBottomToTop 2s ease 0s 1 normal forwards;

    h1{
      margin-bottom: 20px;
    }
    .section-div-sub-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 4vw;
      p{
        margin-bottom: 20px;
      }
    }
  }
  .card-container {
    flex-direction: column;
    .card {
      height: 50vh;
      width: 80vw;
      img {
        height: 30vw;
      }
      .div-button {
        .button-animatic {
          width: 50vw;
        }
      }
    }
  }
}

.card-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    display: flex;
    flex-direction: column;
    background-color: $general-background-color;
    color: $general-white-color;
    margin: 10px;
    .div-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-grow: 1;
      .button-animatic {
        position: absolute;
        bottom: 2vh;
        background-color: rgba(63, 63, 63, 0.96);
        padding: 10px 10px 10px 10px;
        border-radius: 20px 20px 20px 20px;
        font-size: 12px;
        cursor: pointer;
        color: $general-white-color;
      }
      .button-animatic:not([disabled]):hover {
        transform: translateX(1px);
        box-shadow: 1px 0 10px $general-white-color;
      }
    }
    .card-title {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 20px;
      color: $general-white-color;
    }
  }
}

.section-title {
  height: 5vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $general-background-color;
  cursor: pointer;

  p {
    font-size: 20px;
    color: $general-white-color;

  }
}

.font-features {
  font-family: 'Orbitron', sans-serif;
  .tab {
    margin-left: 16px;
  }
}

.left-to-right {
  animation: animLeftToRightHard 5s ease 0s 1 normal forwards;
}

.right-to-left {
  animation: animRightToLeftHard 5s ease 0s 1 normal forwards;
}

@keyframes animLeftToRight {
	0% {
		opacity: 0;
		transform: translateX(-20%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animRightToLeft {
	0% {
		opacity: 0;
		transform: translateX(20%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animLeftToRightHard {
	0% {
		opacity: 0;
		transform: translateX(-70%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animRightToLeftHard {
	0% {
		opacity: 0;
		transform: translateX(70%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes animTopToBottom {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes animBottomToTop {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
