.content-card {
  margin-right: 20px;
  width: 350px;
  height: 500px;
  background-color: #3F3F3FF4;
  color: white;
  border-radius: 50px;
  box-shadow: 1px 1px 1px black;
}

.tab {
  margin-left: 16px;
}

.font-features {
  font-family: 'Orbitron', sans-serif;
}

.button-animatic {
  background-color: rgba(63, 63, 63, 0.96);
  padding: 10px 30px 10px 30px;
  position: absolute;
  right: 30%;
  left: 30%;
  bottom: 10px;
  border-radius: 20px 20px 20px 20px;
  font-size: 12px;
  cursor: pointer;
  color: white;
}

.button-animatic:not([disabled]):hover {
  transform: translateX(1px);
  box-shadow: 1px 0 10px white;
}

.card-subtitles {
  font-weight: bold;
  color: white
}

.card-icon {
  height: 50px;
  width: 50px;
}
