<div [ngClass]="{XSmall : 'main-container-mobile',
                Small : 'main-container-mobile',
                Medium : 'main-container-web',
                Large : 'main-container-web',
                XLarge : 'main-container-web'}[currentScreenSize]">

    <div [ngClass]="{XSmall : 'content-card-mobile',
                    Small : 'content-card-mobile',
                    Medium : 'content-card-web',
                    Large : 'content-card-web',
                    XLarge : 'content-card-web'}[currentScreenSize]">
        <div class="card">
            <div class="card-text">
                <img src={{lolIconUrl}} class="lol-icon" alt="image" /> 
                <h3 class="font-features">LoL EU West</h3>
                <img src={{lolIconUrl}} class="lol-icon" alt="image" />
            </div>
            <mat-slide-toggle (change)="slideChange($event, 1)" [checked]="lolEuWest"></mat-slide-toggle>
            <canvas id="lolChartEuWest" class="chart"></canvas>
            <h4 class="font-features"> {{pingLolEuWest}} ms</h4>
        </div>

        <div class="card">
            <div class="card-text">
                <img src={{lolIconUrl}} class="lol-icon" alt="image" />
                <h3 class="font-features">LoL EU Nordic & East</h3>
                <img src={{lolIconUrl}} class="lol-icon" alt="image" />
            </div>
            <mat-slide-toggle (change)="slideChange($event, 2)" [checked]="lolEuEast"></mat-slide-toggle>
            <canvas id="lolChartEuEast" class="chart"></canvas>
            <h4 class="font-features"> {{pingLolEuEast}} ms</h4>
        </div>

        <div class="card">
            <div class="card-text">
                <img src={{lolIconUrl}} class="lol-icon" alt="image" />
                <h3 class="font-features">LoL US East</h3>
                <img src={{lolIconUrl}} class="lol-icon" alt="image" />
            </div>
            <mat-slide-toggle (change)="slideChange($event, 3)" [checked]="lolUs"></mat-slide-toggle>
            <canvas id="lolChartUs" class="chart"></canvas>
            <h4 class="font-features"> {{pingLolUs}} ms</h4>
        </div>

    </div>

    <div [ngClass]="{XSmall : 'content-card-mobile',
                    Small : 'content-card-mobile',
                    Medium : 'content-card-web',
                    Large : 'content-card-web',
                    XLarge : 'content-card-web'}[currentScreenSize]">
        <div class="card">
            <div class="card-text">
                <img src={{csIconUrl}} class="lol-icon" alt="image" />
                <h3 class="font-features">CS:GO EU West</h3>
                <img src={{csIconUrl}} class="lol-icon" alt="image" />
            </div>
            <mat-slide-toggle (change)="slideChange($event, 4)" [checked]="csEuWest"></mat-slide-toggle>
            <canvas id="csChartEuWest" class="chart"></canvas>
            <h4 class="font-features"> {{pingCsEuWest}} ms</h4>
        </div>

        <div class="card">
            <div class="card-text">
                <img src={{csIconUrl}} class="lol-icon" alt="image" />
                <h3 class="font-features">CS:GO EU Central</h3>
                <img src={{csIconUrl}} class="lol-icon" alt="image" />
            </div>
            <mat-slide-toggle (change)="slideChange($event, 5)" [checked]="csEuEast"></mat-slide-toggle>
            <canvas id="csChartEuEast" class="chart"></canvas>
            <h4 class="font-features"> {{pingCsEuEast}} ms</h4>
        </div>

        <div class="card">
            <div class="card-text">
                <img src={{csIconUrl}} class="lol-icon" alt="image" />
                <h3 class="font-features">CS:GO US West</h3>
                <img src={{csIconUrl}} class="lol-icon" alt="image" />
            </div>
            <mat-slide-toggle (change)="slideChange($event, 6)" [checked]="csUsWest"></mat-slide-toggle>
            <canvas id="csChartUsWest" class="chart"></canvas>
            <h4 class="font-features"> {{pingCsUsWest}} ms</h4>
        </div>

        <div class="card">
            <div class="card-text">
                <img src={{csIconUrl}} class="lol-icon" alt="image" />
                <h3 class="font-features">CS:GO US East</h3>
                <img src={{csIconUrl}} class="lol-icon" alt="image" />
            </div>
            <mat-slide-toggle (change)="slideChange($event, 7)" [checked]="csUsEast"></mat-slide-toggle>
            <canvas id="csChartUsEast" class="chart"></canvas>
            <h4 class="font-features"> {{pingCsUsEast}} ms</h4>
        </div>
    </div>
</div>