//Color Variables
$tooltip-background-color: rgba(255, 255, 255, 0.96);
$general-red-color: rgba(255, 0, 0, 0.96);
$general-white-color: rgba(255, 255, 255, 0.96);
$general-black-color: rgba(0, 0, 0, 0.96);
$general-background-color: rgba(0, 0, 0, 0.6);
$general-gray-color: rgba(63, 63, 63, 0.96);

.general-color-white {
  color: $general-white-color;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: $general-white-color;
  background: $general-background-color;

  .top-menu {
    border:none;
    
    a {
      color: $general-white-color;
      text-decoration: none;
      padding: 50px;
      display:inline-block;
    }
    a:after {
      display:block;
      content: '';
      border-bottom: solid 2px $general-white-color;  
      transform: scaleX(0);  
      transition: transform 250ms ease-in-out;
    }
    a:hover:after {
      transform: scaleX(1);
    }
  }

  .filler {
    flex: 1 1 auto;
  }

  .lang-select-web {
    position: absolute;
    right: 30px;
    height: 3vh;
    font-size: 50%;
    border-radius: 15px 15px 15px 15px;
    border-color: white;
    background-color: $general-gray-color;
    color: white;
    transition: all 0.6s linear;
  }

  .lang-select-mobile {
    position: absolute;
    left: 20vw;
    height: 4vh;
    font-size: 50%;
    border-radius: 15px 15px 15px 15px;
    border-color: white;
    background-color: $general-gray-color;
    color: white;
  }

  .mobile-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    padding-left: 10%;
  }
  
  .hamburger-button {
    .rotate-me {
      height:10vw !important;
      width:10vw !important;
      font-size:10vw !important;
      transform: rotate(180deg);
      transition: transform 1s;
      background-color: $general-gray-color;
      border-radius: 20px 20px 20px 20px;
    }
  }
  .hamburger-button:active {
    .rotate-me {
      transform: rotate(0deg);
      transition: 0s;
    }
  }
}

.mat-menu-top-item {
  margin-top: -8px;
  background-color: $general-gray-color;
}

.mat-menu-item {
  background-color: $general-gray-color;
}

.mat-menu-bottom-item {
  margin-bottom: -8px;
  background-color: $general-gray-color;
}

.toolbar-button-margin-color {
  color: $general-white-color;
  margin-right: 20px;
}

.mat-icon-borders {
  background-color: $general-gray-color;
  border-radius: 20px;
  margin-block: -3px;
}

.button-animatic-web {
  background-color: $general-gray-color;
  cursor: pointer;
  border-radius: 20px;
  font-size: 25px;
}

.button-animatic-mobile {
  background-color: $general-gray-color;
  border-radius: 20px 20px 20px 20px;
  transform: scale(1.5);
}

.button-animatic-web:not([disabled]):hover {
  transform: translateX(1px);
  box-shadow: 0 4px 17px $general-white-color;
}

/* The sidebar menu */
.sidenav {
  //height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 50px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 5; /* Stay on top */
  top: 45%;
  left: 0; /* Stay at the left */
  background: $general-background-color;
  padding-top: 5px;

  button {
    color: white;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
  }

  a {
    padding: 4px 4px 4px 2px;
    text-decoration: none;
    font-size: 25px;
    color: $general-black-color;
    display: block;
    text-align: center;

    img {
      height: 20px;
    }

    mat-icon {
      background-color: rgba(0, 0, 0, 0);
      color: white;
    }

    .tooltip {
      display: inline-block;
      position: absolute;
      background-color: $general-white-color;
      padding: 8px 15px;
      border-radius: 50px;
      left: 60px;
      opacity: 0;
      visibility: hidden;
      font-size: 13px;
      letter-spacing: 0.2px;
      font-family: 'orbitron', sans-serif;

      &:before {
        content: "";
        display: grid;
        position: absolute;
        left: -5px;
        top: 12px;
        transform: rotate(50deg);
        width: 10px;
        height: 10px;
        background-color: inherit;
      }
    }
  }

  a:hover {
    transform: translateX(1px);
    padding: 4px 4px 4px 2px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 17px $general-white-color;

    .tooltip {
      visibility: visible;
      box-shadow: 0 1px 17px $general-black-color;
      opacity: 1;
    }
  }
}
