<!-- Toolbar -->
<div class="toolbar" role="dialog">
  <span class = "filler"></span>
  <!--
  <button class = "button-animatic toolbar-button-margin-color" routerLink="/">
    <mat-icon class= "mat-icon-borders" aria-hidden="false" fontIcon="home"></mat-icon>
    Home</button>
   -->
  <button class = "button-animatic toolbar-button-margin-color" routerLink="/">
    <mat-icon class= "mat-icon-borders" aria-hidden="false" fontIcon="videogame_asset"></mat-icon>
    Games</button>
  <span class = "filler"></span>
  <button class = "button-animatic toolbar-button-margin-color" routerLink="/about">
    <mat-icon class= "mat-icon-borders" aria-hidden="false" fontIcon="mark_unread_chat_alt"></mat-icon>
    About</button>
  <span class = "filler"></span>
  <!--
  <img src="/assets/icons/gifs/crow-fly.gif" alt="image" style="max-width: 40px">
  -->
</div>

<div class="bg"></div>
<div class="bg bg3"></div>
<div class="bg bg2 bg3"></div>

<div class="container">
  <router-outlet></router-outlet>
</div>
