<div class="toolbar" role="dialog">
  <a style="padding-left: 100px; font-weight: bold; font-size: 25px">Cem Ugras</a>
  <a style="padding-left: 20px; font-family: fantasy; font-size: 15px; padding-top: 5px">Software Engineer | Gamer</a>
  <span class = "filler"></span>
  <button class = "button-animatic toolbar-button-margin-color" routerLink="/about">
    <mat-icon class= "mat-icon-borders" aria-hidden="false" fontIcon="mark_unread_chat_alt"></mat-icon>
    About</button>
  <img src="/assets/icons/gifs/crow-fly.gif" alt="image" style="max-width: 40px">
</div>

<div class="sidenav" style="text-align: center">
  <button class = "button-animatic" style="color: white; padding: 10px 30px 10px 30px; margin-bottom: 10px" routerLink="/">
    <mat-icon class= "mat-icon-borders" aria-hidden="false" fontIcon="home"></mat-icon>
  </button>
  <a href="https://www.linkedin.com/in/cemugras/" target="_blank">
    <img src="/assets/icons/linkedin-icon.png" alt="image" style="height: 20px">
    <a class="tooltip">LinkedIn</a>
  </a>
  <a href="https://www.hackerrank.com/cemugrs" target="_blank">
    <img src="/assets/icons/hackerrank-icon.png" alt="image" style="height: 20px">
    <a class="tooltip">HackerRank</a>
  </a>
  <a href="https://play.google.com/store/apps/developer?id=Cem+Ugras" target="_blank">
    <img src="/assets/icons/googleplay-icon.png" alt="image" style="height: 20px">
    <a class="tooltip">GooglePlay</a>
  </a>
  <a href="https://www.youtube.com/@mzm1187" target="_blank">
    <img src="/assets/icons/youtube-icon.png" alt="image" style="height: 20px">
    <a class="tooltip">Youtube</a>
  </a>
  <a href="https://steamcommunity.com/id/cembabbe/" target="_blank">
    <img src="/assets/icons/steam-icon.png" alt="image" style="height: 20px">
    <a class="tooltip">Steam</a>
  </a>
  <a href="https://github.com/cemugras" target="_blank">
    <img src="/assets/icons/github-icon.png" alt="image" style="height: 20px">
    <a class="tooltip">GitHub</a>
  </a>
  <a href="https://www.buymeacoffee.com/cemugras" target="_blank">
    <img src="/assets/icons/donate-icon.png" alt="image" style="height: 20px">
    <a class="tooltip">Donate</a>
  </a>
</div>

<div class="bg"></div>

<div class="container">
  <router-outlet></router-outlet>
</div>
