$general-bg-color: rgba(0, 0, 0, 0.4);
$general-bg-gray-color: rgb(63, 63, 63);
$general-white-color: rgb(255, 255, 255);
$general-green-color: rgba(32, 73, 18, 0.73);

.main-container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 5%;
}

.main-container-mobile {
  margin-top: 10%;

  /* Set up proportionate scaling */
  height: auto;
  position: absolute;

  /* Set up positioning */
  left: 1vw;
  right: 1vw;
}

.selector {
  margin-left: 10%;
  border-radius: 20px 5px 20px 5px;
  height: 30px;
  align-items: center;
  max-width: 100%;
}

.mat-button-toggle-checked {
  color: $general-white-color;
  font-size: x-large;
  background-color: $general-green-color;
}

.container-background {
  background-color: $general-bg-color;
}

.container-background-mobile {
  background-color: $general-bg-color;
}

.container-text {
  color: $general-white-color;
  font-family: 'orbitron', sans-serif;
}

.container-text-mobile {
  color: $general-white-color;
  font-size: 3vw;
  font-weight: lighter;
  font-family: 'orbitron', sans-serif;
}

.earthquake-table-title {
  justify-content: center;
  position: relative;
  font-weight: bold;
  color: $general-white-color;
}

.earthquake-table-title-mobile {
  justify-content: center;
  position: relative;
  font-weight: bold;
  font-size: 2vw;
  color: $general-white-color;
}

.earthquake-table-content {
  color: $general-white-color;
}

.earthquake-table-content-mobile {
  font-weight: lighter;
  font-size: 2vw;
  color: $general-white-color;
}

.button-animatic-web {
  background-color: $general-bg-gray-color;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
  color: $general-white-color;
}

.button-animatic-web:not([disabled]):hover {
  transform: translateX(1px);
  box-shadow: 0 4px 17px $general-white-color;
}

.button-animatic-mobile {
  margin-top: 4%;
  background-color: $general-bg-gray-color;
  border-radius: 20px 20px 20px 20px;
  font-size: 5vw;
  color: $general-white-color;
}

.map-container {
  height: 640px;
}

.mat-column-date {
  border: 1px solid $general-bg-gray-color;
  padding-left: 1vw;
  max-width: 30%;
}

.mat-column-latitude {
  border: 1px solid $general-bg-gray-color;
  justify-content: flex-start;
  position: relative;
  padding-left: 1vw;
  max-width: 12%;
}

.mat-column-longitude {
  border: 1px solid $general-bg-gray-color;
  justify-content: flex-start;
  position: relative;
  padding-left: 1vw;
  max-width: 12%;
}

.mat-column-mag {
  border: 1px solid $general-bg-gray-color;
  justify-content: flex-start;
  position: relative;
  padding-left: 1vw;
  max-width: 12%;
}

.mat-column-location {
  border: 1px solid $general-bg-gray-color;
  padding-left: 1vw;
}
