<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>

<div  [ngClass]="{XSmall : 'main-container-mobile',
      Small : 'main-container-mobile',
      Medium : 'main-container',
      Large : 'main-container',
      XLarge : 'main-container'}[currentScreenSize]">

  <!-- Toggle for Earthquakes -->
  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectorVal" (change)="onValChange(group.value)"
                           class="selector">
    <mat-button-toggle value="table">Table</mat-button-toggle>
    <mat-button-toggle value="map">Map</mat-button-toggle>
  </mat-button-toggle-group>

  <!-- Table for Earthquakes -->
  <div *ngIf="selectorVal=='table'">
    <button [ngClass]="{XSmall : 'button-animatic-mobile',
            Small : 'button-animatic-mobile',
            Medium : 'button-animatic-web',
            Large : 'button-animatic-web',
            XLarge : 'button-animatic-web'}[currentScreenSize]"
            (click)="fetchEarthquakeData()" >List Earthquakes</button>
    <p [ngClass]="{XSmall : 'container-text-mobile',
          Small : 'container-text-mobile',
          Medium : 'container-text',
          Large : 'container-text',
          XLarge : 'container-text'}[currentScreenSize]">
          This function lists last 100 earthquakes occured in Turkey.</p>
    <div style="padding-top: 1%"></div>
    <table mat-table [dataSource]="dataSource"
           [ngClass]="{XSmall : 'mat-elevation-z8 container-background-mobile',
           Small : 'mat-elevation-z8 container-background-mobile',
           Medium : 'mat-elevation-z8 container-background',
           Large : 'mat-elevation-z8 container-background',
           XLarge : 'mat-elevation-z8 container-background'}[currentScreenSize]">

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef
            [ngClass]="{XSmall : 'earthquake-table-title-mobile',
            Small : 'earthquake-table-title-mobile',
            Medium : 'earthquake-table-title',
            Large : 'earthquake-table-title',
            XLarge : 'earthquake-table-title'}[currentScreenSize]"> Date</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{XSmall : 'earthquake-table-content-mobile',
            Small : 'earthquake-table-content-mobile',
            Medium : 'earthquake-table-content',
            Large : 'earthquake-table-content',
            XLarge : 'earthquake-table-content'}[currentScreenSize]"> {{element.date}} </td>
      </ng-container>

      <!-- Latitude Column -->
      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef
            [ngClass]="{XSmall : 'earthquake-table-title-mobile',
            Small : 'earthquake-table-title-mobile',
            Medium : 'earthquake-table-title',
            Large : 'earthquake-table-title',
            XLarge : 'earthquake-table-title'}[currentScreenSize]"> Latitude</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{XSmall : 'earthquake-table-content-mobile',
            Small : 'earthquake-table-content-mobile',
            Medium : 'earthquake-table-content',
            Large : 'earthquake-table-content',
            XLarge : 'earthquake-table-content'}[currentScreenSize]"> {{element.latitude}} </td>
      </ng-container>

      <!-- Longitude Column -->
      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef
            [ngClass]="{XSmall : 'earthquake-table-title-mobile',
            Small : 'earthquake-table-title-mobile',
            Medium : 'earthquake-table-title',
            Large : 'earthquake-table-title',
            XLarge : 'earthquake-table-title'}[currentScreenSize]"> Longitude</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{XSmall : 'earthquake-table-content-mobile',
            Small : 'earthquake-table-content-mobile',
            Medium : 'earthquake-table-content',
            Large : 'earthquake-table-content',
            XLarge : 'earthquake-table-content'}[currentScreenSize]"> {{element.longitude}} </td>
      </ng-container>

      <!-- Magnitude Column -->
      <ng-container matColumnDef="mag">
        <th mat-header-cell *matHeaderCellDef
            [ngClass]="{XSmall : 'earthquake-table-title-mobile',
            Small : 'earthquake-table-title-mobile',
            Medium : 'earthquake-table-title',
            Large : 'earthquake-table-title',
            XLarge : 'earthquake-table-title'}[currentScreenSize]"> Magnitude</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{XSmall : 'earthquake-table-content-mobile',
            Small : 'earthquake-table-content-mobile',
            Medium : 'earthquake-table-content',
            Large : 'earthquake-table-content',
            XLarge : 'earthquake-table-content'}[currentScreenSize]">{{element["mag"]}} </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef
            [ngClass]="{XSmall : 'earthquake-table-title-mobile',
            Small : 'earthquake-table-title-mobile',
            Medium : 'earthquake-table-title',
            Large : 'earthquake-table-title',
            XLarge : 'earthquake-table-title'}[currentScreenSize]"> Location</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{XSmall : 'earthquake-table-content-mobile',
            Small : 'earthquake-table-content-mobile',
            Medium : 'earthquake-table-content',
            Large : 'earthquake-table-content',
            XLarge : 'earthquake-table-content'}[currentScreenSize]"> {{element.location}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Map for Earthquakes -->
  <div class="map-container" *ngIf="selectorVal=='map'"
       leaflet
       [leafletOptions]="options"
       (leafletMapReady)="onMapReady($event)"
       (leafletClick)="mapClicked($event)">
  </div>
</div>
